
body { background-image: url ("https://goo.gl/images/TIQVwN")
		background-size: 2000px;
}

.box1 {
		margin-left: 10px;
		margin-top: 10px;
		padding-top: 10px;
		padding-bottom: 30px;
		background-color: #FF8C00;
		color: #ffffff;
		width: 250px;
		height: 60px;	


}
.box2 { 
		margin-left: 10px;
		margin-top: 10px;
		padding-left: 10px;
		padding-top: 15px;
		padding-bottom: 15px;
		height: 300px;
		width: 470px;
		background-color: #FAEBD7;
		color: 	#006400;


}
.box3 {
		margin-left: 10px;
		margin-top: 5px;
		width: 240px;
		height: 120px;
		background-color: #3CB371;
		font-size: 30px;

		

		
}
.box4 {
		
		height: 120px;
		width: 100px;
		margin-left: 10px;

		background-color: #00FFFF;

}
.box5 {
		height: 20px;
		width:240px ;
		margin-left: 10px;
		background-color: #008B8B;
		color: #ffffff;


}
.box6 { 
		height: 120px;
		width:240px ;
		margin-left: 10px;
		margin-top: 10px;
		background-color: #008B8B;



}
.row {
		margin-left: 10px;
}