
body { 	align-self: center;
		background-image: url ("https://goo.gl/images/TIQVwN")
		background-size: 2000px;
		background-image: url("../images/symphony.png");
}
.content {
			
			text-align: center;

}

.box1 {
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-top: 10px;
		padding-top: 5px;
		padding-bottom: 20px;
		background-color: #FF8C00;
		color: #ffffff;
		width: 500px;
		height: 80px;
		font-family: 'Lobster', cursive;
		font-size: 50px;	
		opacity: .8;


}
.box2 { 
		
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-top: 10px;
		padding-right: 5px;
		padding-left: 10px;
		padding-top: 15px;
		height: 270px;
		width: 500px;
		background-color: #FAEBD7;
		color: 	#006400;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		font-size: 14px;


}
.container {
		
		width: 500px;
		display: block;
		margin-right: auto;
		margin-left: auto;
}
.box3 {
		display: inline; 
		float: left;
		margin-top: 5px;
		width: 300px;
		height: 80px;
		background-color: #3CB371;
		font-size: 50px;
		font-family: 'Comfortaa', cursive;

		

		
}
.box4 {
		display: inline;
		float: right;	
		height: 80px;
		width: 150px;
		margin-top: 5px;
		background-color: #00FFFF;

}
.box5 { display: block;
		margin-right: auto;
		margin-left: auto;
		height: 20px;
		width:240px ;
		background-color: #008B8B;
		color: #ffffff;


}
.box6 { display: block;
		margin-right: auto;
		margin-left: auto;
		height: 120px;
		width:240px;
		margin-top: 10px;
		font-size: 40px;
		background-color: #008B8B;
		font-family: 'Comfortaa', cursive;
		padding-top: 20px;



}
.row {	display: block;
		margin-right: auto;
		margin-left: auto;
		margin-left: 10px;
		margin-top: 5px;

}
.gem1 > img {
		width: 100px;
		height:100px;
}
.gem2 > img {
		width: 100px;
		height:100px;
}
.gem3 > img {
		width: 100px;
		height:100px;
}
.gem4 > img {
		width: 100px;
		height:100px;
}

@media ()